{% extends "base.html" %}

{% block content %}
  <a href="{% url 'notafiscal:notafiscal_list' %}">Voltar</a>

  <h1>{{ object }}
    <span class="pull-right">
      <a href="{% url 'notafiscal:notafiscal_edit' object.pk %}">
        <button type="button" class="btn btn-sucess">
          <span class="fa fa-pencil"></span>Editar
        </button>
      </a>
    </span>
  </h1>

  <div class="col-sm-6">
    <table class="table table-user-information">
      <tbody>
        <tr>
          <th class="text-right">Empresa</th>
          <td>{{ object.empresa}}</td>
        </tr>
        <tr>
          <th class="text-right">Série</th>
          <td>{{ object.serie}}</td>
        </tr>
        <tr>
          <th class="text-right">Número</th>
          <td>{{ object.numero}}</td>
        </tr>
        <tr>
          <th class="text-right">Descrição/Nome</th>
          <td>{{ object.descricao}}</td>
        </tr>
        <tr>
          <th class="text-right">Peso(Kg)</th>
          <td>{{ object.peso}}</td>
        </tr>
        <tr>
          <th class="text-right">Cubagem(m³)</th>
          <td>{{ object.cubagem}}</td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock content %}
