{% extends "base.html" %}
{% block content %}
  <a href="{% url 'notafiscal:notafiscal_list' %}">Voltar</a>
  <h1>{{ object }}</h1>

  <div class="col-sm-6">
    <table class="table table-user-information">
      <tbody>
        <tr>
          <th class="text-right">Empresa</th>
          <td>{{ object.empresa}}</td>
        </tr>
        <tr>
          <th class="text-right">Série</th>
          <td>{{ object.serie}}</td>
        </tr>
        <tr>
          <th class="text-right">Número</th>
          <td>{{ object.numero}}</td>
        </tr>
        <tr>
          <th class="text-right">Descrição/Nome</th>
          <td>{{ object.descricao}}</td>
        </tr>
        <tr>
          <th class="text-right">Peso(Kg)</th>
          <td>{{ object.peso}}</td>
        </tr>
        <tr>
          <th class="text-right">Cubagem(m³)</th>
          <td>{{ object.cubagem}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <table class="table table-striped">
  <thead>
    <tr>
      <th>Empresa</th>
      <th>Número</th>
      <th>Descrição/Nome:</th>
    </tr>
  </thead>
  <tbody>
    {% for obj in object.notafiscal_detail.all %}
      <tr>
        <td>{{ obj.empresa }}</td>
        <td>{{ obj.numero }}</td>
        <td>{{ obj.descricao }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>







{% endblock content %}
