{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="col-sm-10" style= "margin-top: 30px;">
  <h2>Lista de Empresas
    <span class="pull-righ">
      <a href="{% url 'empresa:empresa_add'%}">
        <button type="buton" class="btn btn-primary">
          <span class="fa fa-plus"></span>Adicionar
        </button>
      </a>
    </span>
  </h2>
  {% if object_list %}
    <table class="table table-striped" style="width: 1350px; margin: 0 auto;">
      <thead class="dark">
        <tr>
          <th scope="col">Empresa</th>
          <th scope="col">CNPJ</th>
        </tr>
      </thead>
      <tbody>
        {% for object in object_list%}
          <tr>
            <td>
              <a href="{% url 'empresa:empresa_detail' object.pk %}">{{object.empresa}}</a>
            </td>
            <td>{{object.cnpj}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
     <p class="alert alert-warning">Sem itens na lista.</p>
  {% endif %}

</div>

{% include "includes/pagination.html" %}

{% endblock content %}
