{% extends "base.html" %}

{% block content %}

<div class="page-header">
  <h2><i class="fa fa-user"></i>  Lista de Empresas Cadastradas</h2>
  {% if object_list %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>CNPJ</th>
        </tr>
      </thead>
      <tbody>
        {% for object in object_list%}
          <tr>
            <td>
              <a href="{% url 'empresa:empresa_detail' object.pk %}">{{object.nome}}</a>
            </td>
            <td>{{object.cnpj}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
     <p class="alert alert-warning">Sem itens na lista.</p>
  {% endif %}



</div>

{% endblock content %}
