{% extends "base.html" %}
<!--Bloco de lista de notas fiscais -->
{% block content %}
<div class="row">
  <div class="col-sm-10" style= "margin-top: 10px;">
    <form action="." method="GET" class="form-inline">
      <input type="text" id="search" name="search" class="form-control" placeholder="Busca">
      <input type="submit" class="btn btn-sucess" style="margin-left: 10px;" value="OK">
    </form>
  </div>
</div>

<div class="page-header" style= "margin-top: 15px;">
  <h2>Lista de Notas Fiscais
    <span class="pull-righ">
      {% if user.is_authenticated %}
      <a href="{% url 'notafiscal:notafiscal_add' %}">
        <button type="buton" class="btn btn-primary">
          <span class="fa fa-plus"></span>Adicionar
        </button>
      </a>
      {% endif %}
    </span>
  </h2>

  {% if object_list %}
    <table class="table table-striped" style="width: 1350px; margin: 0 auto;">
      <thead>
        <tr>
          <th>Empresa</th>
          <th>Número</th>
          <th>Série</th>
          <th>Descrição/Nome</th>
          <th>Peso(kg)</th>
          <th>Cubagem(m³)</th>
        </tr>
      </thead>
      <tbody>
        {% for object in object_list %}
          <tr>
            <td>
              <a href="{% url 'notafiscal:notafiscal_detail' object.pk %}">{{ object.empresa }}</a>
            </td>
            <td>{{ object.numero }}</td>
            <td>{{ object.serie }}</td>
            <td>{{ object.descricao }}</td>
            <td>{{ object.peso }}</td>
            <td>{{ object.cubagem }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p class="alert alert-warning">Não existem notas fiscais nesta lista</p>
  {% endif %}
</div>
{% include "includes/pagination.html" %}
{% endblock content %}